# Dependencias
node_modules/

# Directorio de compilación
dist/

# Archivos de entorno
.env

# Sistema de archivos
.DS_Store
Thumbs.db

# Directorios de cobertura de Jest
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de editor
.vscode/
.idea/

# Archivos de configuración de compilación
tsconfig.tsbuildinfo
